.custom-toast {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.custom-toast .Toastify__toast-icon {
  color: #008080 !important;
}

.custom-toast .Toastify__progress-bar {
  background-color: #008080 !important;
}

.custom-icon {
  color: #008080 !important;
}
