.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;

  .header {
    font-size: 48px;
    font-weight: 600;
    color: #2e8b57;
    text-align: left;
    padding-bottom: 40px;
    display: none;
  }

  .content {
    display: flex;
    max-width: 1280px;
    width: 100%;
    height: fit-content;
    gap: 68px;
    align-items: center;
    justify-content: space-between;

    .imageWrapper {
      display: flex;
      width: 100%;
      max-width: 601px;
      max-height: 601px;
      height: auto;
    }

    .responsiveImage {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .alltext {
      max-width: 583px;
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 36px;

      .text {
        display: flex;
        flex-direction: column;
        gap: 48px;

        h2 {
          font-size: 48px;
          font-weight: 600;
          color: #2e8b57;
        }

        p {
          font-size: 20px;
          line-height: 158.5%;
          font-weight: 500;
          text-align: justify;
        }
      }

      .activity {
        display: flex;
        flex-direction: column;
        gap: 14px;

        h3 {
          font-size: 24px;
          font-weight: 600;
        }

        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 29px;
          font-size: 20px;
          font-weight: 500;

          li {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .wrapper {
    padding: 0px 40px;
    .content {
      flex-direction: column;
      .imageWrapper {
        max-width: 1280px;
        max-height: 300px;
        object-fit: cover;
        width: 100%;
      }
      .alltext {
        .activity {
          justify-content: center;
          ul {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
          }
        }
      }

      .alltext {
        max-width: 1280px;
      }

      h2 {
        display: none;
      }
    }
    .header {
      display: flex;
    }
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    .content {
      flex-direction: column;
      gap: 34px;

      .alltext {
        .text {
          p {
            font-size: 16px;
            text-align: left;
          }
        }
        .activity {
          h3 {
            font-size: 24px;
            font-weight: 800;
          }
          ul {
            li {
              font-size: 16px;
            }
          }
        }
      }
    }
    .header {
      font-size: 36px;
    }
  }
}
