.wrapper {
  display: flex;
  max-width: 1280px;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;

  .alltext {
    width: 583px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 36px;
    .text {
      display: flex;
      flex-direction: column;
      gap: 48px;

      h2 {
        font-size: 48px;
        font-weight: 600;
        color: #2e8b57;
      }
      p {
        font-size: 20px;
        line-height: 158.5%;
        font-weight: 500;
      }
    }
  }
  .activity {
    display: flex;
    flex-direction: column;
    gap: 14px;

    h3 {
      font-size: 24px;
      font-weight: 600;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 29px;
      font-size: 20px;
      font-weight: 500;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

