.wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
  max-width: 1280px;
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    gap: 17px;

    .item {
      transition: all 0.3s ease;
      max-height: 245px;
      height: 374px;
      width: 100%;
      object-fit: cover;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      object-fit: contain;
      .title {
        padding: 24px;
        h3 {
          color: white;
          font-size: 20px;
          font-weight: 600;
        }
        time {
          color: white;
          font-size: 20px;
          font-weight: 500;
          opacity: 0.5;
        }
      }
    }

    h1 {
      font-size: 50px;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    padding: 0 20px;
    gap: 54px;
    .content {
      h1 {
        font-size: 40px;
      }

      .item {
        height: 300px;
      }

      .carousel {
        position: relative;

        .arrows {
          position: absolute;
          bottom: -60px; // ниже карусели
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          gap: 10px;

          button {
            position: static; // отменяем абсолютное позиционирование кнопок
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    gap: 40px;
    .content {

      h1 {
        font-size: 30px;
      }

      .item {
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    gap: 50px;
    .content {

      h1 {
        font-size: 30px;
      }

      .item {
        height: 200px;
      }
    }
  }
}
