.wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 1280px;
  width: 100%;
  height: fit-content;
  .newsitems {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    overflow: hidden;

    .newsitem {
      display: flex;
      flex-direction: column;
      max-width: 303px;
      width: 100%;
      gap: 18px;
      padding: 16px;
      .imageWrapper {
        max-height: 374px;
        max-width: 281px;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-image: url("/assets/press-centre/news/news-photo.png");
        object-fit: contain;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .date {
          padding-left: 15px;
          padding-bottom: 12px;
          opacity: 0.5;
          font-size: 20px;
          color: white;
        }
      }
    }
    .newsdesc {
      font-size: 20px;
      font-weight: 500;
    }
    Button {
      font-size: 11px;
      max-width: 132px;
      width: 100%;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    Breadcrumb {
      padding: 0 20px;
      
    }
    .newsitems {
      padding: 0 20px;
    }
  }
}
