.wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 1280px;
  width: 100%;
  height: fit-content;

  .newsitems {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    overflow: hidden;
    max-width: 1280px;
    width: 100%;

    .newsitem {
      display: flex;
      flex-direction: column;
      max-width: 303px;
      width: 100%;
      gap: 18px;
      padding: 16px;

      .imageWrapper {
        height: 374px;
        width: 281px;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        object-fit: contain;

        .date {
          padding-left: 15px;
          padding-bottom: 12px;
          opacity: 0.5;
          font-size: 20px;
          color: white;
        }
      }
    }
    .newsdesc {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    padding: 0px 20px;
    .newsitems {
      justify-content: center;
    }
  }
}
