.wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 1280px;
  width: 100%;

  .Teams {
    display: flex;
    flex-direction: column;
    gap: 64px;

    #ceo {
      display: flex;
      justify-content: flex-start; /* Изменено с center на flex-start для выравнивания по левому краю */
      align-items: flex-start;
      max-width: 100%;
      width: 100%;

      .teammembertext {
        max-width: 411px;
        text-align: left;
      }
    }
  }

  h1 {
    font-size: 48px;
    font-weight: 600;
    color: #2e8b57;
    line-height: 112%;
  }

  .ceoWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }

  .team {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }

  .teamwrapper {
    display: flex;
    gap: 10px;
    row-gap: 80px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .teammember {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 411px;
    max-height: 733px;
    width: 100%;
    height: 100%;
  }

  .teammembertext {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
      font-size: 36px;
      font-weight: 600;
      color: #2e8b57;
      line-height: 112%;
    }

    p {
      font-size: 20px;
      font-weight: 500;
      opacity: 0.5;
    }

    .line {
      border: 1px solid black;
      opacity: 0.02;
    }
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    padding: 0px 20px;
    .teamwrapper {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    .teamwrapper {
      .teammember {
        .teamimage {
          min-height: 311px;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
