.wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 1280px;

  .Teams {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  h1 {
    font-size: 48px;
    font-weight: 600;
    color: #2e8b57;
    line-height: 112%;
  }

  .team {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }

  .teamwrapper {
    display: flex;
    row-gap: 43.5px;
    justify-content: space-between;
    flex-wrap: wrap;

    .teammember {
      display: flex;
      flex-direction: column;
      gap: 18px;
      width: 411px;
      height: 553px;
    }

    .teammembertext {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        font-size: 36px;
        font-weight: 600;
        color: #2e8b57;
        line-height: 112%;
      }

      p {
        font-size: 20px;
        font-weight: 500;
        opacity: 0.5;
      }

      .line {
        border: 1px solid black;
        opacity: 0.2;
      }
    }
  }
}
