@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #ffffff;
  scroll-behavior: smooth;
}
[id] {
  scroll-margin-top: 80px; /* Измените это значение на нужный вам отступ */
}
body {
  background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #ffffff;
  }

  body {
    background: #ffffff;
  }
}
