.wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 1280px;
  width: 100%;
  .mainImage {
    max-height: 894px;
    max-width: 1280px;
    width: 100%;
    object-fit: cover;
  }

  h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    text-align: justify;
    span {
      color: #2e8b57;
    }
  }
  .pwrapper p {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.5;
    text-align: justify;
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    padding: 0px 40px;
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    h1 {
      font-size: 18px;
      line-height: 22px;
    }
    .pwrapper p {
      font-size: 16px;
      text-align: left;
    }
  }
}
