.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  gap: 42px;
  .header {
    font-size: 48px;
    font-weight: 600;
    color: #2e8b57;
    text-align: left;
  }
}


@media screen and (max-width: 1350px) {
  .wrapper {
    padding: 0px 40px;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    .header {
      font-size: 32px;
      text-align: left;
    }
  }
}