.wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 1280px;
  width: 100%;

  .imageMain {
      max-height: 894px;
      max-width: 1280px;
      width: 100%;
      object-fit: cover;
  }

  h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 112%;
    text-align: left;
    span {
      color: #2e8b57;
    }
  }

  p,
  ul {
    font-size: 20px;
    line-height: 119.3%;
    font-weight: 500;
    list-style: none;
  }

  ul {
    padding-top: 15px;
  }

  li {
    display: flex;
    flex-direction: row;
    opacity: 0.5;
    gap: 15px;
    align-items: center;
  }
}

.circle {
  width: 4px;
  height: 4px;
  background: #000;
  border-radius: 100%;
}

@media screen and (max-width: 1400px) {
  .wrapper {
    padding: 0px 20px;
    
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    h1 {
      font-size: 24px;
    }
    p,
    ul {
      font-size: 16px;
      
    }
    
  }
}