.wrapperBreadcrumb {
  padding-top: 118px !important;
  max-width: 1280px !important;
  width: 100%;
  .breadcrumb {
    font-size: 20px !important;
    font-weight: 500 !important;

    .breadcrumbSpan {
      opacity: 0.5 !important;
    }
  }
}

@media screen and (max-width: 800px) {
  .wrapperBreadcrumb {
    .breadcrumb {
      font-size: 16px !important;
    }
  }
}

