.wrapperBreadcrumb {
  padding-top: 148px !important;
  width: 1280px !important;
  .breadcrumb {
    font-size: 20px !important;
    font-weight: 500 !important;

    .breadcrumbSpan {
      opacity: 0.5 !important;
    }
  }
}
