.wrapper {
  max-width: 1280px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 42px;

  h2 {
    font-size: 50px;
    font-weight: 600;
    color: #000;
  }

  .allactivities {
    display: flex;
    gap: 58px;
    justify-content: center;
    max-width: 1280px;
    width: 100%;

    .activity {
      display: flex;
      flex-direction: column;
      gap: 11px;
      text-align: left;
    }
    .one {
      max-width: 243px;
      width: 100%;
    }

    .two {
      max-width: 228px;
      width: 100%;
    }

    .three {
      max-width: 368px;
      width: 100%;
    }

    .four {
      max-width: 263px;
      width: 100%;
    }
  }
}

.activityhead {
  font-size: 32px;
  font-weight: 600;
  color: #2e8b57;
}

.activitydesc {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  opacity: 0.5;
}

@media screen and (max-width: 1350px) {
  .wrapper {
    padding: 0px 20px;
    .allactivities {
      gap: 38px;
    }
  }

  .activityhead {
    font-size: 24px;
  }

  .activitydesc {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  .wrapper {
    padding: 0px 40px;
    h2 {
      font-weight: 800;
      text-align: left;
    }
    
    .allactivities {
      display: flex;
      flex-direction: column;
      gap: 38px;
      justify-content: center;
      max-width: 1280px;
      width: 100%;
      align-items: flex-start;

      .activity {
        display: flex;
        flex-direction: column;
        gap: 11px;
        text-align: left;
      }
      .one {
        max-width: 550px;
        width: 100%;
      }

      .two {
        max-width: 550px;
        width: 100%;
      }

      .three {
        max-width: 550px;
        width: 100%;
      }

      .four {
        max-width: 550px;
        width: 100%;
      }
    }
  }

  .activityhead {
    font-size: 32px;
    font-weight: 600;
    color: #2e8b57;
    text-align: left;
  }

  .activitydesc {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    opacity: 0.5;
    text-align: left;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    h2 {
      font-size: 36px;
    }
  }
}

