.wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 1280px;

  .tabsContent p {
    opacity: 0.5;
    padding-top: 18px;
    text-align: justify;
  }

  .Trigger {
    font-size: 24px;
    text-wrap: wrap;
    text-align: left;
    line-height: 32px;
    transition: all ease 0.3s;
  }

  .Trigger:hover {
    scale: 1.02;
  }
}
