.wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  .content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    .item {
      display: flex;

      align-items: center;
      gap: 0px;
      flex-direction: column;
      p {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    padding: 0px 20px;
  }
}
